@import "~bootstrap/scss/bootstrap.scss";

.traffic-light{
    background-color: black;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    margin: 50px;
    margin-left: -60px;
    display: block;

}

.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }

.red{ background-color: red;}
.yellow{background-color:yellow;}
.green{background-color: green; }

.glow{
 box-shadow:0 0 25px #eee7ea, inset 0 0 14px #c0e2ec; 
}

.vl {
    border-left: 8px solid black;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    display: block;


}
















/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
